h1{
font-size:75px;
font-family: 'Fredericka the Great', cursive;

}

h2{
  font-size: 44px;
  font-family: 'Fredericka the Great', cursive;
}

h3{
  font-size: 30;
}
.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
