
.container {
  position: relative;
  width: 50%;
}
.images {
  display: block;
  width: 100%;
  height: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #F1F1F1F1;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-family:'Montserrat';
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  top: 50%;
  text-align: center;
}
