
body {
  background-color: Azure;
  font-family: 'Montserrat';
  font-weight: 100;
}

h1 {
  color: Black;
  font-family: 'Overpass Mono';
  font-size: 60px
}

h2 {
  color: Black;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 100;
}

#navbiar {
  font-family: 'Montserrat';
}
.dropbn {
  font-family: 'Montserrat'
}
.text {
  font-family: 'Montserrat';
}
